extends layout

block content
 nav.nav.nav-pills.nav-fill.ks-nav
  a.nav-link.active.ks-active(aria-current="page" href="/") Accueil
  a.nav-link(href='/about/') L'équipe
  a.nav-link(href="/boutiques/") Liste des boutiques
  a.nav-link(href="/auth/loginget") Déconnexion
 
 .about-section
   h1  #{title}
  
 